/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .web-rules-form,
 .widefat {
     width: 100%;
 }
 .no-padding-bottom {
	 padding-bottom: 0px !important;
 }
 .large-padding-bottom {
	 padding-bottom: 8px !important;
 }
 @media (max-width: 782px) {
	table.web-rules-form td {
		padding: 10px 21px 0 17px;
	}
	table.web-rules-form tr:last-child td {
		padding-bottom: 20px;
	}
}